@import '~antd/dist/antd.css';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Segoe UI Symbol';
  color: antiquewhite;
  font-weight: bold;
}
h2 {
  font-family: 'Segoe UI Symbol';
  color: rgb(224, 27, 13);
  font-weight: bold;
}

a{
  color: antiquewhite;
  text-decoration: none;
}

li>a{
  color: white;
}
.ant-menu{
  background: #EF5350;
  }

.media{
    min-height: "100px"
}
